:host {
  column-width: 153px;
  -webkit-column-width: 153px;
  column-gap: 17px;
  -webkit-column-gap: 17px;
  margin: 7px;
  padding: 0 10px;
}


ion-skeleton-text {
  margin-top: 8px;
  vertical-align: middle;
}
